{% extends "pages/_base.jinja" %}

{% block content%}

<h1> Page For Thing No. {{ id }}</h1>

<p>We have got this id from the URL!</p>

{% if id == 67 %}

<h2> OMG! 676767</h2>

{% endif %}

{% endblock %}


