body {
    font-family: system-ui;
    color: rgb(255, 186, 198);
}

header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: cyan;
}




