body {
    font-family: system-ui;
    color: rgb(187, 26, 53);
}

header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: cyan;
}




